[submodule "Dependencies/SFML"]
	path = Dependencies/SFML
	url = https://github.com/SFML/SFML.git
[submodule "Dependencies/ImguiRepo/imgui"]
	path = Dependencies/ImguiRepo/imgui
	url = https://github.com/playmer/imgui.git
[submodule "Dependencies/glbinding"]
	path = Dependencies/glbinding
	url = https://github.com/cginternals/glbinding.git
